@page
@model IndianMovies.Pages.Movie.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Movie_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Movie_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Director_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Director_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Actor_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Actor_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Actress_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Actress_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movies.Release_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movies.Release_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movies.Movie_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
