@page
@model IndianMovies.Pages.Movie.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Movie_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Director_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Actor_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Actress_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Release_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actress_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release_Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Movie_Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Movie_Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Movie_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
